@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,600");
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #bbbbbb;
  scroll-behavior: smooth;
  background-color: #222;
  margin: 0px 10px; }

a {
  color: inherit;
  text-decoration: inherit; }

h1, h2, h3 {
  color: #00d8ca;
  font-weight: 100;
  font-size: 30px; }

h2 {
  text-align: center; }

button:focus {
  outline: none; }

button::-moz-focus-inner {
  border: 0; }

.hidden {
  display: none; }

img.circular {
  border-radius: 50%; }

.container {
  margin: 0 auto;
  max-width: 1000px; }

section {
  padding: 50px 0px; }
  section .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }

header {
  color: #fff;
  font-weight: 100;
  margin-bottom: 100px;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 30px;
  line-height: 1.2em; }
  header img {
    height: 1.2em;
    vertical-align: bottom; }
  header strong {
    font-weight: 600; }
  header nav {
    float: right;
    color: #ccc;
    font-size: 16px;
    text-transform: uppercase; }
    header nav a {
      margin: 0 5px; }
    header nav a:hover {
      color: #fff;
      cursor: pointer; }

#slogan div {
  flex: 0.6; }
#slogan img {
  flex: 0.4; }
#slogan h1 {
  font-size: 80px;
  margin: 0; }
#slogan p {
  font-size: 20px;
  line-height: 1.6; }

#how-we-work {
  background-color: #292929; }
  #how-we-work .container {
    margin: 20px auto; }
    #how-we-work .container:nth-child(even) {
      flex-direction: row-reverse; }
    #how-we-work .container img {
      flex: 0.3; }
    #how-we-work .container div {
      flex: 0.6; }
    #how-we-work .container p {
      margin: 20px 0;
      font-size: 20px;
      line-height: 1.6; }

#about-us {
  background-color: #333;
  text-align: center; }
  #about-us .container {
    align-items: flex-start; }
  #about-us div {
    flex: 0.3; }
  #about-us h4 {
    color: #eee;
    font-weight: 300;
    font-size: 20px; }
  #about-us img.mugshot {
    margin: 0 5%;
    width: 90%; }
  #about-us .social-logos img {
    width: 24px;
    padding: 0px 5px; }

#contact-us {
  background-color: #393939;
  padding-bottom: 100px; }
  #contact-us p {
    text-align: center; }
  #contact-us form {
    max-width: 550px;
    margin: 0 auto;
    padding: 0 10px; }
  #contact-us input, #contact-us textarea, #contact-us button {
    font-family: inherit;
    font-size: 100%;
    color: #fff;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 5px; }
  #contact-us .error {
    color: #f00; }
  #contact-us .success {
    color: #00d8ca; }
  #contact-us .field {
    margin: 10px 0;
    position: relative; }
    #contact-us .field .error {
      float: right; }
  #contact-us label {
    line-height: 1.25em; }
  #contact-us input, #contact-us textarea {
    width: 100%; }
  #contact-us textarea {
    height: 150px; }
  #contact-us .submit .success, #contact-us .submit .error {
    float: right;
    line-height: 44px; }
  #contact-us .submit button {
    float: right;
    background-color: #00d8ca;
    width: 20%;
    font-size: 20px;
    margin-left: 10px;
    height: 44px; }
    #contact-us .submit button img {
      display: none; }
    #contact-us .submit button .disabled {
      background-color: #ccc;
      color: #aaa; }
      #contact-us .submit button .disabled span {
        display: none; }
      #contact-us .submit button .disabled img {
        display: inline; }

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding: 16px 8px;
  font-size: 12px;
  text-align: center; }

@media only screen and (max-width: 768px) {
  body {
    margin: 0; }

  .container {
    max-width: 500px; }

  header {
    border: none;
    margin-bottom: 0;
    line-height: 1.25em; }
    header nav {
      display: none; }

  #slogan, #how-we-work, #about-us, #contact-us {
    padding: 42px 0.5em 45px 0.5em; }
    #slogan .container, #how-we-work .container, #about-us .container, #contact-us .container {
      display: block;
      margin: 0 auto; }
      #slogan .container p, #how-we-work .container p, #about-us .container p, #contact-us .container p {
        line-height: 1.25em;
        margin: 0.25em 0 1em 0; }

  #slogan {
    text-align: center; }
    #slogan h1 {
      font-size: 60px; }
    #slogan p {
      font-size: 20px; }
    #slogan img {
      display: block;
      margin: 0 auto;
      width: 50%; }

  #how-we-work {
    text-align: center; }
    #how-we-work .container p {
      font-size: 16px; }
    #how-we-work .container:last-of-type p {
      margin-bottom: 0; }
    #how-we-work h3 {
      margin: 0 0 0.25em 0; }
    #how-we-work img {
      display: none; }

  #about-us h2 {
    margin-top: 0;
    margin-bottom: 28px; }
  #about-us img.mugshot {
    width: 50%; }
  #about-us h4 {
    margin-top: 0.5em;
    margin-bottom: 0.25em; }
  #about-us .partner {
    margin-bottom: 48px; }
    #about-us .partner p {
      margin-top: 0.75em;
      margin-bottom: 0; }
  #about-us .partner:last-of-type {
    margin-bottom: 0; }

  #contact-us {
    padding-bottom: 100px; }
    #contact-us h2 {
      margin: 0 auto; }
    #contact-us p {
      margin-top: 0.25em;
      margin-bottom: 2em; }
    #contact-us input, #contact-us textarea {
      width: 96%;
      padding: 2%; }
    #contact-us .submit .success, #contact-us .submit .error {
      line-height: inherit;
      max-width: 75%; } }

/*# sourceMappingURL=styles.css.map */
