@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,600');

$font-size-logo: 30px;
$font-size-slogan: 80px;
$font-size-header: 30px;
$font-size-content-big: 20px;
$font-size-content: 16px;
$font-size-small: 12px;

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: $font-size-content;
  color: #bbbbbb;
  scroll-behavior: smooth;
  background-color: #222;
  margin: 0px 10px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1, h2, h3 {
  color: #00d8ca;
  font-weight: 100;
  font-size: $font-size-header;
}

h2 {
  text-align: center;
}

button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

.hidden {
  display: none;
}

img.circular {
  border-radius: 50%;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

section {
  padding: 50px 0px;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

header {
  color: #fff;
  font-weight: 100;
  margin-bottom: 100px;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-size: $font-size-logo;
  line-height: 1.2em;

  img {
    height: 1.2em;
    vertical-align: bottom;
  }

  strong {
    font-weight: 600;
  }

  nav {
    float: right;
    color: #ccc;
    font-size: $font-size-content;
    text-transform: uppercase;

    a {
      margin: 0 5px;
    }

    a:hover {
      color: #fff;
      cursor: pointer;
    }
  }
}

#slogan {
  div {
    flex: 0.6;
  }

  img {
    flex: 0.4;
  }

  h1 {
    font-size: $font-size-slogan;
    margin: 0;
  }

  p {
    font-size: $font-size-content-big;
    line-height: 1.6;
  }
}

#how-we-work {
  background-color: #292929;

  .container {
    margin: 20px auto;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    img {
      flex: 0.3;
    }

    div {
      flex: 0.6;
    }

    p {
      margin: 20px 0;
      font-size: $font-size-content-big;
      line-height: 1.6;
    }
  }
}

#about-us {
  background-color: #333;
  text-align: center;

  .container {
    align-items: flex-start;
  }

  div {
    flex: 0.3;
  }

  h4 {
    color: #eee;
    font-weight: 300;
    font-size: $font-size-content-big;
  }

  img.mugshot {
    margin: 0 5%;
    width: 90%;
  }

  .social-logos {
    img {
      width: 24px;
      padding: 0px 5px;
    }
  }
}

#contact-us {
  background-color: #393939;
  padding-bottom: 100px;

  p {
    text-align: center;
  }

  form {
    max-width: 550px;
    margin: 0 auto;
    padding: 0 10px;
  }

  input, textarea, button {
    font-family: inherit;
    font-size: 100%;
    color: #fff;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 5px;
  }

  .error {
    color: #f00;
  }

  .success {
    color: #00d8ca;
  }

  .field {
    margin: 10px 0;
    position: relative;

    .error {
      float: right;
    }
  }

  label {
    line-height: 1.25em;
  }

  input, textarea {
    width: 100%;
  }

  textarea {
    height: 150px;
  }

  .submit {
    .success, .error {
      float: right;
      line-height: 44px;
    }

    button {
      float: right;
      background-color: #00d8ca;
      width: 20%;
      font-size: $font-size-content-big;
      margin-left: 10px;
      height: 44px;

      img {
        display: none;
      }

      .disabled {
        background-color: #ccc;
        color: #aaa;

        span {
          display: none;
        }

        img {
          display: inline;
        }
      }
    }
  }
}

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding: 16px 8px;
  font-size: $font-size-small;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  $font-size-slogan: 60px;

  body {
    margin: 0;
  }

  .container {
    max-width: 500px;
  }

  header {
    border: none;
    margin-bottom: 0;
    line-height: 1.25em;

    nav {
      display: none;
    }
  }

  #slogan, #how-we-work, #about-us, #contact-us {
    padding: 42px 0.5em 45px 0.5em;

    .container {
      display: block;
      margin: 0 auto;

      p {
        line-height: 1.25em;
        margin: 0.25em 0 1em 0;
      }
    }
  }

  #slogan {
    text-align: center;

    h1 {
      font-size: $font-size-slogan;
    }

    p {
      font-size: $font-size-content-big;
    }

    img {
      display: block;
      margin: 0 auto;
      width: 50%;
    }
  }

  #how-we-work {
    text-align: center;

    .container {
      &:last-of-type p {
        margin-bottom: 0;
      }
    }

    h3 {
      margin: 0 0 0.25em 0;
    }

    img {
      display: none;
    }
  }

  #about-us {
    h2 {
      margin-top: 0;
      margin-bottom: 28px;
    }

    img.mugshot {
      width: 50%;
    }

    h4 {
      margin-top: 0.5em;
      margin-bottom: 0.25em;
    }

    .partner {
      margin-bottom: 48px;

      p {
        margin-top: 0.75em;
        margin-bottom: 0;
      }
    }

    .partner:last-of-type {
      margin-bottom: 0;
    }
  }

  #contact-us{
    padding-bottom: 100px;

    h2 {
      margin: 0 auto;
    }

    p {
      margin-top: 0.25em;
      margin-bottom: 2em;
    }

    input, textarea {
      width: 96%;
      padding: 2%;
    }

    .submit {
      .success, .error {
        line-height: inherit;
        max-width: 75%;
      }
    }
  }
} // @media (max-width: 768px)