@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,600');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #222;
  color: #bbbbbb;
  margin: 20px auto;
  max-width: 1000px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1,h2,h3 {
  color: #00d8ca;
  font-weight: 100;
  font-size: 24pt;
}

img.circular {
  border-radius: 50%;
}

#logo {
  color: #fff;
  font-size: 24pt;
  font-weight: 100;
  margin-bottom: 100px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  line-height: 1.2em;
}

#logo img {
  height: 1.2em;
  vertical-align: bottom;
}

#logo span strong {
  font-weight: 600;
}

#logo nav {
  float: right;
  color: #ccc;
  font-size: 12pt;
  text-transform: uppercase;
}

#logo nav a {
  margin: 0 5px;
}

#logo nav a:hover {
  color: #fff;
  cursor: pointer;
}

#slogan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

#slogan div {
  flex: 0.6;
}

#slogan img {
  flex: 0.3;
}

#slogan h1 {
  font-size: 60pt;
  margin: 0;
}

#slogan p {
  font-size: 16pt;
  line-height: 1.6;
}

#how-we-work > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
}

#how-we-work > div:nth-child(even) {
  flex-direction: row-reverse;
}

#how-we-work > div img {
  flex: 0.3;
}

#how-we-work > div div {
  flex: 0.6;
}

#how-we-work > div p {
  margin: 20px 0;
  font-size: 16pt;
  line-height: 1.6;
}

#about-us > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#about-us > div div {
  flex: 0.3;
}

#about-us > div h4 {
  color: #eee;
  text-align: center;
  font-weight: 300;
  font-size: 16pt;
}

#about-us > div img {
  margin: 0 5%;
  width: 90%;
}

#contact-us form {
  width: 60%;
  margin: 0 auto;
  text-align: right;
}

#contact-us input, #contact-us textarea, #contact-us button {
  font-family: inherit;
  font-size: 100%;
  color: #fff;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 5px;
}

#contact-us div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

#contact-us label {
  flex: 0.2;
  text-align: right;
  padding-right: 10px;
}

#contact-us input, #contact-us textarea {
  flex: 0.8;
}

#contact-us textarea {
  height: 150px;
}

#contact-us button {
  background-color: #00d8ca;
  width: 20%;
  font-size: 16pt;
}

footer {
  margin-top: 100px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 10px;
  font-size: 9pt;
  text-align: center;
}